body {
    background-color: white;
    font-family: 'Courier New', Courier, monospace
}

/** Css for an Excel like table border*/
table {
    border-collapse: collapse;
}

th, td{
    min-width: 50px;
    white-space: nowrap;
    border: 1px solid black;
}

/** Css for Expandable <th> headers/Dimentions */
.expandable::before {
    content: "";
}